@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  font-family: 'Noto Kufi Arabic', sans-serif;
}
.whats-app-conent {
  width: 780px;
  border-radius: 12px;
  margin: auto;
  box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.048);
}
.whats-app-conent input, .whats-app-conent textarea{
  border: 2px solid #ddd;
  box-shadow: none;
  padding: 12px 20px;
  outline: none;
}

.whats-app-conent input:focus, .whats-app-conent textarea:focus{
  box-shadow: none;
  outline: none;
}

.whts-app-header {
  border-bottom: 1px dashed #ddd;
  margin-bottom: 20px;
  padding: 17px 0;
  padding-bottom: 24px;
  
}
.whts-app-header .title{
  margin: 0;
  color: #333;
  font-weight: 900;
  font-size: 22px;
}
